@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary-hex: #d3efbf;
  --background-secondary-hex: #A5DD9B;

  --button-primary-hex: #BDE3FF;
  --button-hover-hex: #7DC9FF;
  --button-active-hex: #3EAFFF;

  --paragraph-primary-hex: #032137;
}

body {
  background-color: var(--background-primary-hex);
  max-width: 1024px;
  margin-inline: auto;
  padding: 0.75rem;
  color: var(--paragraph-primary-hex);
}

/* BUTTON */
button {
  flex: 1 0 20%;
  padding: 0.75rem;
  margin: 0 0.25rem 0 0.25rem;
  background-color: var(--button-primary-hex);
  border-radius: 0.5rem;
  font-weight: 600;
  white-space: nowrap;
}
button:hover {
  background-color: var(--button-hover-hex);
}
button:active {
  background-color: var(--button-active-hex);
}

/* INPUT & LABEL */

input {
  background-color: var(--background-secondary-hex);
  border-radius: 0.75rem;
  border: 1px solid #032137;
  box-sizing: border-box;
  color: #032137;
  font-size: 1rem;

  /* height: 100%; */ 

  outline: 0;
  padding: 0.25rem 0.75rem;

  width: 75%;

  margin-bottom: 1rem;
}

/* label {
  margin: 0.75rem;
} */




