@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary-hex: #d3efbf;
  --background-secondary-hex: #A5DD9B;

  --button-primary-hex: #BDE3FF;
  --button-hover-hex: #7DC9FF;
  --button-active-hex: #3EAFFF;

  --paragraph-primary-hex: #032137;
}

body {
  background-color: beige;
  max-width: 1024px;
  margin-inline: auto;
  padding: 0.75rem;
  color: var(--paragraph-primary-hex);
}

/* BUTTON */
button {
  flex: 1 0 20%;
  padding: 0.75rem;
  margin: 0 0.25rem 0 0.25rem;
  background-color: var(--button-primary-hex);
  border-radius: 0.5rem;
  font-weight: 600;
  white-space: nowrap;
}
button:hover {
  background-color: var(--button-hover-hex);
}
button:active {
  background-color: var(--button-active-hex);
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

.submit-button {
  background-color: var(--button-primary-hex);
  width: 75%;
  white-space: nowrap;
  flex-basis: 1;
  
}

/* FORM & INPUT & LABEL */

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  position: relative; 
  height: 78px;
  width: 100%;
}

.text-input {
  background: transparent;
  border-radius: 0.75rem;
  border: 1px solid #032137;
  box-sizing: border-box;
  color: #032137;
  font-size: 1rem;
  padding: 0.75rem 0.75rem;
  outline: none;
  margin-bottom: 1.5rem;
  transition: 0.2s;
  cursor: text;
  width: 100%;
}

#text-input-error {
  background: transparent;
  border-radius: 0.75rem;
  border: 1px solid red;
  box-sizing: border-box;
  color: #032137;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  padding: 0.75rem 0.75rem;
  outline: none;
  margin-bottom: 1.75rem;
  transition: 0.2s;
  cursor: text;
}

label {
  position: absolute;
  left: 0;
  padding: 0.75rem 0.75rem;
  pointer-events: none;
  transition: 0.2s;
}

input:focus + label, input:not([value=""]) + label
{
  color:green;
  border: 1px solid green;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  padding: 0 0.75rem;
  background-color: var(--background-primary-hex);
  transform: translate(15px, -9px);
  
} 

input:focus, input:not([value=""]) {
  border: 1px solid green;
}

#text-input-error:focus + label,
#text-input-error:not([value=""]) + label {
  color:#032137;
  border: 1px solid red;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  padding: 0 0.75rem;
  background-color: beige;
  transform: translate(15px, -9px);
 
}

.input-error-message {
  position: absolute;
  border: 1px solid red;
  background-color: beige;
  border-radius: 0.75rem;
  font-size: 0.75rem;
  left: 100px;
  bottom: 19px;
  padding: 0 0.75rem;
  pointer-events: none;
  transition: 0.2s;
}











